@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --main-color: #deab5f;
    --primary-color: #312e2e;
}
button{
    padding: 10px 30px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}
body{
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding-top: 15px;
}
li{
    display: inline;
    list-style: none;

}
li a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

li a:hover{
    border-bottom: 2px solid yellow;
}
/* Nav-end */
/* Header start  */
.header{
    background: url(img/pexels-nao-triponez-129207.jpg);
    background-position: center;
   
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display', serif ;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    text-align: center;
    position: relative;

}
.mainhe{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;

}
.primaryh{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -10px;
}
.btn{
    position: absolute;
    bottom: 0px;
    padding: 10px 30px;
    margin-top: 40px;
    background: transparent;
    background-color: var(--main-color);
    border: none;
}

#our-story{
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 400px;
    height: 400px;
    background: url(img/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
}
.title-style{
    display: flex;
    align-items: center;
}
.title{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    color: white;
    transform: translate(-100px);
}
.line{
    width: 100px;
    height: 2px;
    background-color: white;
    transform: translatex(-120px);
}
.section-content p{
    max-width: 500px;
    color: white;
    font-family: sans-serif;
}
/* Our-story-end */

